@font-face {
    font-family: Roboto;
    src: url(assets/Roboto-Medium.ttf);
}

body {
    margin: 0;
    width: 1600px;
}
.wrapper {
    background-position: center;
    background-size: cover;
}
/*1st-screen*/
.first-screen {
    background: url("assets/bg-image-wrapper.png");
    height: 744px;
}
.header {
    height: 20px;
    color: #FFFFFF;
    opacity: 0.8;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 400;
    margin-top: 38px;
}
#active {
    opacity: 1;
    border-bottom: 1px solid #FFFFFF;
}
#logo {
    background: url("assets/logo.svg") 100% 100% no-repeat;
    align-self: center;
    width: 44px;
    height: 45px;
    margin-top: 3px;
}
#project {
    padding-left: 20px;
}
#syllabus {
    padding-right: 20px;
}
ul {
    margin: 0px 516px 0px 465px;
    height: 95px;

    display: flex;
    justify-content: space-between;
}
li {
    list-style-type: none;
}

.life {
    height: 75px;
    margin: 131px 0px 0px 435px;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    letter-spacing: 4.6px;
}